<%- include("header"); -%>
<h1>Contact: galti se bhi mt krna</h1>

<img src="https://cdn.contactcenterworld.com/company/blog/conversational/78b19711-d72d-4327-b37e-720a509e7378.jpg" alt="">

<p><%= startingContent %></p>

<%- include("footer"); -%>
