<%- include("header"); -%>
<h1>Home</h1>
<img
  src="https://pics.me.me/sweet-home-thome-memeshappen-com-home-sweet-home-meme-when-52768311.png"
  alt=""
/>
<p><%= startingContent %></p>
<%- include("footer"); -%>
